._container {
  max-width: 1120px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  z-index: 10;
}

.header__container {
  max-width: 1280px;
  margin: 24px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}

.header__logo {
  font-size: 32px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__switch {
  margin: 0px 28px 0px 0px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body * {
  margin: 15px auto;
}

.work__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 122.2222222222%;
  max-width: 832px;
  margin: 120px 0px 0px 0px;
}

.work__row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 104px 0px 0px 0px;
}

.work__row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.work__row-three {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.row-one :first-child {
  margin: 0px 0px 0px 0px;
}

.row-one__item {
  margin: 0px 0px 0px 128px;
}

.row-two :first-child {
  margin: 0px 0px 0px 0px;
}

.row-two__item {
  padding: 80px 0px 0px 0px;
  margin: 0px 0px 80px 128px;
}

.row-three :first-child {
  margin: 0px 0px 0px 0px;
}

.row-three__item {
  margin: 56px 0px 0px 32px;
}

.item__image {
  border-radius: 20px;
}

.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0px 0px 0px;
}

.item__id {
  color: rgba(255, 255, 255, 0.3);
}

.item__title {
  font-size: 14px;
  padding: 0px 0px 0px 16px;
}

.item__more {
  padding: 0px 0px 0px 16px;
}

.about__container {
  padding: 176px 0px 176px 0px;
}

.about__title {
  max-width: 1024px;
  font-weight: 500;
  font-size: 72px;
  line-height: 122.2222222222%;
  margin: 0px 0px 48px 0px;
}

.about__text {
  max-width: 1024px;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  margin: 0px 0px 176px 0px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image {
  margin: 0px 0px 0px 96px;
}

.about__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
}

.list__links {
  padding: 132px 0px 0px 0px;
}

.list__link {
  padding: 0px 0px 24px 0px;
}

.list__link-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 4px 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 133.3333333333%;
}

.list__link-date {
  color: rgba(255, 255, 255, 0.3);
}

.list__link-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 128.5714285714%;
}

.footer {
  z-index: 1;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 96px 0px;
}

.footer__email {
  font-size: 18px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list :last-child {
  border-right: 0px;
}

.footer__link {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px 32px 0px 32px;
}

.footer__up {
  font-size: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #fff;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.menu__body {
  overflow: auto;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 100px 30px 30px 30px;
  -webkit-transition: left 0.5s ease 0s;
  -o-transition: left 0.5s ease 0s;
  transition: left 0.5s ease 0s;
}

.menu__body._active {
  left: 0;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-logo-black:before {
  content: "\e900";
}

._icon-theme:before {
  content: "\e901";
}

._icon-Up:before {
  content: "\e902";
}

.portfolio__hero {
  position: relative;
  height: 100vh;
}

.hero__image {
  min-width: 100%;
  position: absolute;
  z-index: 0;
  margin: -56px 0px 0px 0px;
}

.hero__container {
  max-width: 1280px;
  height: 100%;
  margin: -56px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  position: absolute;
  text-align: center;
  z-index: 1;
  height: 150px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.hero__text {
  max-width: 928px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  z-index: 1;
}

.portfolio__content {
  position: relative;
}

.portfolio__image {
  max-width: 100%;
  border-radius: 25px;
  margin: 94px 0px 152px 0px;
}

.portfolio__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 128.5714285714%;
}

.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2ebcc7;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000;
  margin: 100px 0px 256px 0px;
}

.intro__name {
  color: rgba(255, 255, 255, 0.3);
}

.intro__name li {
  margin: 0px 0px 8px 0px;
}

.intro__name :last-child {
  margin: 0px 0px 0px 0px;
}

.intro__value {
  margin: 0px 0px 0px 8px;
}

.intro__value li {
  margin: 0px 0px 8px 0px;
}

.intro__value :last-child {
  margin: 0px 0px 0px 0px;
}

.intro__information {
  margin: 0px 0px 0px 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 448px;
          flex: 0 1 448px;
  font-size: 14px;
  line-height: 142.8571428571%;
  text-transform: none;
}

.gallery__image {
  max-width: 100%;
  margin: 152px 0px 150px 0px;
  border-radius: 25px;
}

.banner__image {
  max-width: 100%;
}

.banner__text {
  margin: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 448px;
          flex: 0 1 448px;
  z-index: 10;
  font-weight: 500;
  font-size: 24px;
  line-height: 133.3333333333%;
}

.discription__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 122.2222222222%;
  margin: 192px 0px 0px 0px;
}

.discription__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  margin: 48px 0px 40px 0px;
}

.navigation__back {
  background: #fff;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__icon {
  font-size: 22px;
}

.navigation__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 133.3333333333%;
}

.navigation__next {
  background: #fff;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._lock {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

a {
  color: #fff;
}

._white {
  background: #fff !important;
  color: #000 !important;
}

._white a {
  color: #000;
}

._white .menu__icon span,
._white .menu__icon::before,
._white .menu__icon::after {
  background-color: #000 !important;
}

._white .menu__body {
  background: rgba(255, 255, 255, 0.9) !important;
}

._white .menu__switch,
._white .footer__up {
  border: 1px solid #000;
}

@media (min-width: 767.98px) {
  .footer__up {
    display: none;
  }

  .hero__text {
    color: #000 !important;
  }
}

@media (min-width: 1441px) {
  .portfolio__banner {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 1132px) {
  ._container {
    max-width: 970px;
  }

  .header__container {
    padding: 0 10px;
  }

  .row-one__item,
  .row-two__item,
  .row-three__item {
    margin: 15px auto !important;
    padding: 0px 0px 0px 0px !important;
  }

  .row-one,
  .row-two,
  .row-three {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .about__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .about__image {
    margin: 0 auto;
    overflow: hidden;
  }

  .about__image img {
    max-width: 100%;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__container * {
    margin: 10px auto;
  }

  .portfolio__image {
    margin: -56px 0px 30px 0px;
  }

  .portfolio__intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .portfolio__gallery {
    display: none;
  }

  .portfolio__banner {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin: 32px 0px 30px 0px;
  }

  .portfolio__navigation {
    margin: 32px 0px 30px 0px;
  }

  .intro__information {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 32px 0px 0px 0px;
  }

  .gallery__image {
    margin: 32px 0px 30px 0px;
  }

  .banner__image {
    position: absolute;
    min-width: 100%;
  }

  .banner__text {
    padding: 50px;
  }

  .discription__title {
    font-size: 50px;
    margin: 32px 0px 30px 0px;
  }

  .discription__text {
    margin: 32px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .work__title {
    font-size: 26px !important;
    margin: 25px 0px 0px 0px;
  }

  .item__image {
    max-width: 100%;
  }

  .item__more {
    display: none;
  }

  .about__title {
    margin: 15px 0px 10px 0px;
    font-size: 26px !important;
  }

  .about__text {
    margin: 0px 0px 10px 0px;
  }

  .list__links {
    padding: 10px 0px 0px 0px;
  }

  .footer__email {
    padding: 20px 0px 0px 0px;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__link {
    border-right: 0px;
    margin: 20px auto;
    font-size: 18px;
  }

  .title {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
    line-height: 156.25%;
  }

  .portfolio__hero {
    height: auto;
  }

  .hero__image {
    display: none;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 0px 0px;
  }

  .hero__title {
    font-size: 25px;
    position: relative;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    height: auto;
    margin: 32px 0px 30px 0px;
  }

  .portfolio__image {
    margin: 32px 0px 30px 0px;
  }

  .navigation__back {
    width: 156px;
    height: 156px;
    margin: 0px 0px 30px 0px;
  }

  .navigation__next {
    width: 156px;
    height: 156px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1441px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1132px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}
