@use "sass:math";
// int
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1120;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//

//Grid
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//

//Wrapper
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//

//CSS RESET
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
//

//Image
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
//

//header
@import "_header";
//main
@import "_main";
//footer
@import "_footer";
//menu
@import "_menu";
//ui
@import "_ui";
//icons
@import "_icons";
//portfolio
@import "_portfolio";
//

//menu background scroll block
body._lock {
	overflow: hidden;
}
//

body {
	font-family: "Inter", sans-serif;
	background: #000;
	color: #fff;
	text-transform: uppercase;
}

a {
	color: #fff;
}

._white {
	background: #fff !important;
	color: #000 !important;
	a {
		color: #000;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		background-color: #000 !important;
	}
	.menu__body {
		background: rgba(255, 255, 255, 0.9) !important;
	}
	.menu__switch,
	.footer__up {
        border: 1px solid #000;
	}
}
